<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.ssm.dao.BlogDao">

    <resultMap id="BlogBaseMap" type="com.company.ssm.model.Blog">
        <id column="tid" property="tid" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="loadURL" property="loadURL" jdbcType="VARCHAR"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="decoration" property="decoration" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="alter_time" property="updateTime" jdbcType="TIMESTAMP"></result>
        <result column="state" property="state" jdbcType="INTEGER"></result>
    </resultMap>

    <select id="selectAllBlog" resultMap="BlogBaseMap">
        SELECT * FROM DB_SSM.BLOG
    </select>

    <select id="getAllBlog" resultMap="BlogBaseMap">
        SELECT * FROM DB_SSM.BLOG
    </select>
    <!-- id和方法名相同-->
    <select id="selectBlogByTid" resultMap="BlogBaseMap">
        SELECT * FROM db_ssm.blog Where tid=${tid}
    </select>

    <select id="getBlogDetail" resultType="map">
    Select blog.*,users.*  from blog inner join users on blog.user_id=users.user_id
    where blog.tid=${tid}
    </select>

    <select id="getLabelBlog" resultMap="BlogBaseMap">
        Select * FROM blog Where blog.label Like CONCAT('%','${label}','%') Order by alter_time desc
    </select>

    <insert id="addBlog" keyProperty="tid" parameterType="com.company.ssm.model.Blog">
        INSERT INTO BLOG(user_id,title,author,type,label,decoration,content,state,create_time,alter_time)
        VALUES(#{user_id},#{title},#{author},#{type},#{label},#{decoration},#{content},1001,#{createTime},#{alter_time});
    </insert>

    <update id="updateBlog" parameterType="com.company.ssm.model.Blog">
        UPDATE blog SET title=#{title}, label=#{label}, content=#{content}, decoration=#{decoration},
        alter_time=#{alertTime} Where tid=#{tid};
    </update>
</mapper>